.header {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header h2,
.header ul {
    margin: 0;
    padding: 0;
}